# .gitignore

# ignore the build folder
build/

# ignore the venv folder
venv/

# ignore the coverage folder
coverage/

# ignore the pycache folders
__pycache__/

# ignore the ruff cache folder
.ruffcache/

# ignore the ruff config file
.ruffconfig

# ignore the ruff log file
.rufflog